# Compiled class file
*.class
out/

# macOS metadata files (AppleDouble)
._*
.DS_Store

# macOS metadata files (AppleDouble)
._*
.DS_Store

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Node.js (if any)
node_modules/
package-lock.json

# Log file
*.log

# virtual machine crash logs
hs_err_pid*
replay_pid*
